<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Annotator</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="./node_modules/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="./node_modules/font-awesome5/css/fontawesome-all.min.css"/>

    <script src="./node_modules/openseadragon/build/openseadragon/openseadragon.min.js"></script>
    <link rel="stylesheet" href="./node_modules/@recogito/annotorious-openseadragon/dist/annotorious.min.css">
    <script src="./node_modules/@recogito/annotorious-openseadragon/dist/openseadragon-annotorious.min.js"></script>

    <!-- importmap shim for Firefox -->
    <script src="./node_modules/vue/dist/vue.global.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.15/dist/vuetify.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.15/dist/vuetify.min.css">

    <!-- <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet"> -->
    <!-- https://vuejs.org/guide/quick-start.html#enabling-import-maps -->
    <!-- <script type="importmap">
      {
        "imports":{
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js",
          "vuetify-fa": "https://cdn.jsdelivr.net/npm/vuetify@3.3.15/lib/iconsets/fa.mjs"
        }
      }
    </script> -->
    
    <script type="module">
      const { createVuetify } = Vuetify
      // import { aliases, fa } from "vuetify-fa"
      // const { aliases, fa } = Vuetify
      window.vuetify = createVuetify()
      // window.vuetify = createVuetify({
      //   icons: {
      //     defaultSet: 'fa',
      //     aliases,
      //     sets: {
      //       fa,
      //     },
      //   },
      // })
    </script>

    <!-- https://www.saxonica.com/download/javascript.xml -->
    <script src="assets/SaxonJS2.rt.js"></script>
    <script src="utils.js"></script>
    <script src="xml-utils.js"></script>
    <script src="crossreads-xml.js"></script>
    <script type="module">
      // TODO: UPGRADE
      // TODO: relative import
      // TODO: modularise use of octokit, create a wrapper
      // TODO: don't import it globally.
      // import { Octokit } from "https://esm.sh/@octokit/core";
      // import { Octokit } from "https://cdn.skypack.dev/@octokit/rest";
      // import { Octokit, App } from "https://esm.sh/octokit";
      import { Octokit, App } from "https://cdn.skypack.dev/octokit@2.0.14";
      // import { Octokit } from "./node_modules/@octokit/core/dist-web/index.js";
      window.Octokit = Octokit
    </script>    
    <script src="assets/annotator.js" defer></script>

    <link rel="stylesheet" href="./assets/main.css">
  </head>
  <body>
    <section class="section full-width" id="annotator">
      <!-- <button @click="loadAnnotationsFromSession()">Load</button>
      <button @click="saveAnnotationsToSession()">Save</button> -->
      <div class="container is-fluid">
        <div :class="['notification', 'is-'+lastMessage.level, 'is-light']">
          {{ lastMessage.content }}
        </div>
        <div class="tabs is-medium is-boxed">
          <ul>
            <li v-for="tab in tabs" :class="{'is-active': selection.tab == tab.key}">
              <a :href="`${tab.key}.html${queryString}`">
                <template v-if="!isLoggedIn && tab.key == 'settings'"><i class="fas fa-exclamation-triangle"></i>&nbsp;</template>
                {{ tab.title }}
              </a>
            </li>
          </ul>
          <a href="https://github.com/kingsdigitallab/crossreads/issues" target="_blank" class="icon-text">
            <span class="icon"><i class="fas fa-bug"></i></span>
            <span>Issues</span>
          </a>
        </div>

        <div class="panel panel-objects">
          <div class="panel-block">
            <div class="columns">
              
              <div class="column is-6">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Object</label>
                  </div>
                  <div class="field-body">
                    <div class="field">

                      <div>
                        <!-- https://vuetifyjs.com/en/components/combobox/ -->
                        <v-combobox
                          clearable
                          v-model="searchPhrase"
                          :items="filteredObjectTitles"
                          variant="outlined"
                          @keyup.delete.stop
                          @keyup.escape.stop="onEscapeObjectSearch()"
                          @blur="onBlurObjectSearch()"
                          density="compact"
                        >
                        </v-combobox>
                      </div>

                      <!-- <p class="control has-icons-left">
                        <input class="input" type="text" 
                          placeholder="Search" v-model="searchPhrase" 
                          list="available-objects" 
                          @keyup.delete.stop
                          @keyup.escape.stop="onEscapeObjectSearch()"
                          @blur="onBlurObjectSearch()"
                        >
                        <span class="icon is-left">
                          <i class="fas fa-search" aria-hidden="true"></i>
                        </span>
                        <datalist id="available-objects">
                          <option v-for="obj2 in filteredObjects" :value="obj2.title" />
                        </datalist>
                      </p> -->
                    </div>
                  </div>                  
                </div>
              </div>

              <div class="column is-6">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Image</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="select">
                        <select v-model="image" :disabled="filteredImages.length < 2">
                          <option v-for="(img, idx) in filteredImages" :value="img">{{ img.uri }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column is-9">
            <div class="panel">
              <p class="panel-heading">
                Image
                <a v-if="image" :href="getImageUrl()" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                <span class="side-links">
                  <button @click="onClickSave()" class="button is-small is-default" :disabled="!canSave || !isUnsaved">
                    <template v-if="!canSave">Read Only</template>
                    <template v-else>
                      <template v-if="isUnsaved">Save</template><template v-else>Saved</template>
                    </template>
                  </button>
                </span>
              </p>
              <div class="panel-block panel-image">
                <div :class="['image-viewer-overlay', `image-loaded-${isImageLoaded}`]">{{ imageLoadingMessage }}</div>
                <div id="image-viewer" style="width: 100%; height: 300px;"></div>
              </div>
              <p class="panel-heading">
                Transcription 
                <a v-if="object" :href="object['dts:download']" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                <span class="side-links">
                  <label>
                    <input type="checkbox" v-model="selection.showSuppliedText">
                    Show supplied text
                  </label>
                </span>
              </p>
              <div class="panel-block transcription responsive-height">
                <p :class="{'show-supplied': selection.showSuppliedText, 'transcription-body': 1}" v-html="text">
                </p>
              </div>
            </div>
          </div>
          <div class="column is-3">
            <div class="panel">
              <p class="panel-heading">
                Description
                <a v-if="image" :href="getAnnotationsAbsolutePath()" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                <span v-if="isAnnotationSelected">(Selected)</span>
              </p>
              <div class="panel-block responsive-height">
                <dl class="description">
                  <dt>Script</dt> 
                  <dd>
                    <div class="select">
                      <select v-model="description.script" @change="onChangeScript()" :disabled="!canSave">
                        <option v-for="(script, scriptKey) in filteredScripts" :value="scriptKey">{{ script }}</option>
                      </select>
                    </div>
                  </dd>
                  <dt>Allograph ({{description.allograph}})</dt> 
                  <dd>
                    <!-- <span v-if="!(description.allograph in definitions.allographs)">{{description.allograph}}</span> -->
                    <div class="select">
                      <select v-model="description.allograph" @change="onChangeAllograph()" :disabled="!canSave">
                        <option v-for="(allograph, allographKey) in filteredAllographs" :value="allographKey">{{ allograph.character }} <template v-if="allograph.script == 'base'">(BASE)</template></option>
                      </select>
                    </div>
                  </dd>

                  <dt>Tags</dt> 
                  <dd class="description-tags">
                    <div class="field has-addons">
                      <div class="control">
                        <input :class="{input: 1, 'is-danger': tagFormatError}" type="text" v-model="tag" list="available-tags" @keyup.delete.stop @keyup.enter="onAddTag()" :disabled="!canSave || !isAnnotationSelected">
                      </div>
                      <datalist id="available-tags">
                        <option v-for="tag in tags" :value="tag" />
                      </datalist>
                      <div class="control">
                        <button class="button" @click="onAddTag()" :disabled="!canSave || Boolean(tagFormatError) || !isAnnotationSelected">Add</button>
                      </div>
                    </div>
                    <div class="tag-error" v-if="tagFormatError">{{tagFormatError}}</div>
                    <div class="tags">
                      <a v-for="tag in description.tags" class="tag is-info is-light" @click="onDeleteTag(tag)">{{ tag }}</a>
                    </div>
                  </dd>

                  <dt>Components</dt> 
                  <dd><ul class="components-features">
                    <li v-for="(component, componentKey) in filteredComponents">
                      <span class="component-name">
                        <template v-if="definitions.components[componentKey]">
                          {{ definitions.components[componentKey].name }}
                        </template>
                        <template v-else>
                          {{ componentKey }}
                        </template>
                        <template v-if="component.isUndefined">
                          [UNDEFINED]
                        </template>
                      </span>
                      <ul>
                        <li v-for="featureKey in component.features">
                          <label :class="{selectable: true, selected: isComponentFeatureSelected(componentKey, featureKey)}">
                            <input type="checkbox" @change="onChangeComponentFeature(componentKey, featureKey)" :checked="isComponentFeatureSelected(componentKey, featureKey)" :disabled="!canSave">
                            <template v-if="definitions.features[featureKey]"> 
                              {{ definitions.features[featureKey] }}
                            </template>
                            <template v-else>
                              {{ featureKey }} [UNDEFINED]
                            </template>
                          </label>
                        </li>
                      </ul>
                    </li>
                  </ul></dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
