<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Annotator</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/
font-awesome/5.15.2/css/all.min.css"/>

    <script src="https://cdn.jsdelivr.net/npm/openseadragon@3.0/build/openseadragon/openseadragon.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@recogito/annotorious-openseadragon@2.7.7/dist/annotorious.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@recogito/annotorious-openseadragon@2.7.7/dist/openseadragon-annotorious.min.js"></script>
    <!-- <script src="../../annotorious-openseadragon/dist/openseadragon-annotorious.min.js"></script> -->

    <!-- importmap shim for Firefox -->
    <script src="https://unpkg.com/vue@3"></script>
    <style type = "text/css"> 
      .list-selectable {
        max-height: 15em;
        overflow-y: auto;
        width: 100%;
      }
      .list-selectable li {
        padding: 0.5em
      }
      .list-selectable li:hover {
        background-color: yellow;
      }
      .selected {
        background-color: #ffe0a0;
        font-weight: bold;
      }
      .component-name {
        font-weight: bold;
      }
      .components-features li {
        margin-left: 0.5em
      }
      .description {
        max-width: 100%;
      }
      .description dt {
        margin-top: 1em;
        border-top: 1px solid grey;
        background-color: #eee;
        font-weight: bold;        
      }
      .transcription {
        font-size: 150%;
      }
      .transcription .sign {
        display: inline-block;
        width: 1.5em;
        border: 1px solid lightgrey;
        padding: 0.5em;       
      }
      .transcription .sign:hover {
        background-color: yellow;
      }
      .transcription .sign.selected {
        background-color: #ffe0a0;
      }
      /* .panel-objects .select.list-objects {
        height: auto;
      }
      .list-objects select {
        height: auto;
      } */
    </style>

  </head>
  <body>
    <section class="section" id="annotator">
      <!-- <button @click="loadAnnotationsFromSession()">Load</button>
      <button @click="saveAnnotationsToSession()">Save</button> -->
      <div class="container">
        <h1 class="title">
          Annotator
        </h1>
        <div class="columns is-3">
          <div class="column">
            <div class="panel panel-objects">
              <p class="panel-heading">
                Objects
              </p>
              <div class="panel-block">
                <p class="control has-icons-left">
                  <input class="input" type="text" placeholder="Search" v-model="searchPhrase">
                  <span class="icon is-left">
                    <i class="fas fa-search" aria-hidden="true"></i>
                  </span>
                </p>
              </div>
              <div class="panel-block">
                <ul class="list-selectable">
                  <a v-for="(obj2, idx) in filteredObjects" href="#" @click.prevent="onSelectObject(obj2)">
                    <li :class="{'selected': obj2 == object}">
                      {{ obj2.description }}
                    </li>
                  </a>
                </ul>
                <!-- <div class="select list-objects">
                  <select v-model="object" size="10">
                    <option v-for="(obj2, idx) in filteredObjects">{{ obj2.name }}</option>
                  </select>
                </div> -->
              </div>
              <p class="panel-heading">
                Images
              </p>
              <div class="panel-block">
                <ul class="list-selectable">
                  <a v-for="(img, idx) in filteredImages" href="#" @click.prevent="onSelectImage(img)">
                    <li :class="{'selected': img == image}">
                      {{ img.uri }}
                    </li>
                  </a>
                </ul>
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="panel">
              <p class="panel-heading">
                Image
              </p>
              <div class="panel-block">
                <div id="image-viewer" style="width: 800px; height: 300px;"></div>
              </div>
              <p class="panel-heading">
                Transcription
              </p>
              <div class="panel-block transcription">
                <p v-html="text">
                </p>
              </div>
            </div>
          </div>
          <div class="column is-3">
            <div class="panel">
              <p class="panel-heading">
                Annotation
                <span v-if="isAnnotationSelected">(Selected)</span>
              </p>
              <div class="panel-block">
                <dl class="description">
                  <dt>Allograph</dt> 
                  <dd>
                    <span v-if="!(description.allograph in definitions.allographs)">{{description.allograph}}</span>
                    <div class="select">
                      <select v-model="description.allograph" @change="onChangeAllograph()">
                        <option v-for="(allograph, allographKey) in definitions.allographs" :value="allographKey">{{ allograph.character }} ({{ allograph.script }})</option>
                      </select>
                    </div>
                  </dd>
                  <dt>Components</dt> 
                  <dd><ul class="components-features">
                    <li v-for="component in description.components">
                      <span class="component-name">
                        <template v-if="definitions.components[component[0]]">
                          {{ definitions.components[component[0]].name }}
                        </template>
                        <template v-else>
                          {{ component[0] }}
                        </template>
                      </span>
                      <ul>
                        <li v-for="(isFeaturePresent, featureKey, index) in component[1]">
                          <label><input type="checkbox" v-model="component[1][featureKey]" @change="onChangeComponentFeature()">
                            <template v-if="definitions.features[featureKey]"> 
                              {{ definitions.features[featureKey] }}
                            </template>
                            <template v-else>
                              {{ featureKey }}
                            </template>
                          </label>
                        </li>
                      </ul>
                    </li>
                  </ul></dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script type="module">

      /* TODO: modularise the Vue app:
      . Objects List
      . Images List
      . Image
      . Description
      . Text
      */ 

      // TODO: move this into Vue?
      function loadOpenSeaDragon(vueApp) {
        var viewer = OpenSeadragon({
            id: "image-viewer",
            prefixUrl: 'https://cdn.jsdelivr.net/npm/openseadragon@3.0/build/openseadragon/images/',
            tileSources: {
              type: "image",
              url: "http://localhost:49153/iiif/2/ISic000001.jpg/full/full/0/default.jpg"
            }
        });

        // Initialize the Annotorious plugin
        const config = {
          disableEditor: true,
          allowEmpty: true,
          // disableSelect: true,
          // TODO: js error after select + click outside rect
          // fragmentUnit: 'percent', 
        };
        var anno = OpenSeadragon.Annotorious(viewer, config);
        vueApp.anno = anno;
        vueApp.viewer = viewer;

        // Load annotations in W3C WebAnnotation format
        let eventNames = [
          'createSelection', 'createAnnotation', 'updateAnnotation', 
          'selectAnnotation', 'cancelSelected', 'clickAnnotation', 
          'deleteAnnotation', 'changeSelectionTarget',
          // 'mouseLeaveAnnotation', 'mouseLeaveAnnotation'
        ]
        for (let eventName of eventNames) {
          anno.on(eventName, vueApp[`on${eventName[0].toUpperCase()}${eventName.substring(1)}`]);
        }
        anno.on('open-failed', vueApp.onImageOpenFailed);
      }; 

      const { createApp } = Vue

      createApp({
        data() {
          return {
            // TODO: not reactive
            apis: {
              // collections: 'https://isicily-dts.herokuapp.com/dts/api/collections/',
              collections: '../data/dts/api/collections-test.json',
              definitions: '../data/pal/definitions-digipal.json',
            },
            objects: [
              {'description': 'Object 1', '@id': 'obj1', 'title': 't1'},
              {'description': 'Object 2', '@id': 'obj2', 'title': 't2'},
              {'description': 'Object 3', '@id': 'obj3', 'title': 't3'},
            ],
            object: null,
            searchPhrase: '',
            images: [],
            image: null,
            text: 'test',
            definitions: {
              features: {
                'f1': 'F 1',
                'f2': 'F 2',
              },
              components: {
                'c1': {
                  name: 'C 1',
                  features: [
                    'f1', 'f2'
                  ]
                },
              },
              allographs: {
                'latin.G': {
                  script: 'Latin',
                  character: 'G',
                  components: ['c1'], 
                },
              }
            },
            description: {
              allograph: 'a',
              components: [
                ['c1', {'f1': false, 'f3': true}],
              ],
              // TODO: aspects
            },
            annotation: null,
            cache: {
              isDescriptionLoading: false,
              allographLast: '123',
              // TODO: not reactive?
              store: {
                imagesAnnotations: {
                  'objectkey.imagekey': {
                    // annotations for that object-image
                  }
                }
              }
            }
          }
        },
        mounted() {
          // TODO: chain load (from objects, to image, ...) 
          // instead of loading all here.in parallel
          loadOpenSeaDragon(this)
          this.loadObjects()
          this.loadDefinitions()
        },
        watch: {
          description2: {
            handler(val, valOld) {
              if (this.cache.isDescriptionLoading) return;
              console.log('EVENT description changed')
              this.updateDescriptionFromAllograph()
              let annotation = this.anno.getSelected()
              if (annotation) {
                annotation.body[0].value = JSON.stringify(this.description)
                this.anno.updateSelected(annotation)
              }
            },
            deep: true
          },
          object(val, valOld) {
            this.fetchObjectXML()
          },
        },
        computed: {
          filteredObjects() {
            return this.objects.filter(o => o.description.toLowerCase().includes(this.searchPhrase.toLowerCase()))
          },
          filteredImages() {
            return this.images.filter(i => i.type == 'print')
          },
          isAnnotationSelected() {
            return !!this.annotation
          }
        },
        methods: {
          loadObjects() {
            // Load objects list (this.objects) from DTS collections API 
            fetch(this.apis.collections)
              .then(res => res.json())
              .then(res => {
                // console.log(res)
                this.objects = []
                for (let m of res.member) {
                  if (m) {
                    this.objects.push({
                      '@id': m['@id'],
                      title: m.title,
                      description: m.description,
                      "dts:download": m['dts:download']
                    })
                  }
                }
                if (this.objects.length) {
                  this.object = this.objects[0]
                } else {
                  this.object = null
                }
              })
          },
          loadDefinitions() {
            fetch(this.apis.definitions)
              .then(res => res.json())
              .then(res => {
                this.definitions = res
                this.updateDescriptionFromAllograph()
              })
          },
          fetchObjectXML() {
            // fetch the TEI XML from DTS API for the selected object (this.object)
            if (this.object) {
              const uri = this.object["dts:download"]
              const self = this
              fetch(uri)
                .then(res => res.text())
                .then(res => new window.DOMParser().parseFromString(res, 'text/xml'))
                .then(xml => {
                  // self.tei = res
                  // Only to ease debugging
                  // window.tei = res

                  this.setImagesFromObjectXML(xml)
                  this.setTextFromObjectXML(xml)
                })
            }
          },
          setImagesFromObjectXML(xml) {
            // get all the tei:graphic -> image locations
            this.images = []
            let it = xml.evaluate('//tei:graphic', xml, this.getURIFromXMLPrefix, XPathResult.ORDERED_NODE_ITERATOR_TYPE, null)
            while (true) {
              let node = it.iterateNext()
              if (!node) break
              // TODO: less assumption about encoding, make it more robust 
              this.images.push({
                description: node.children[0].textContent,
                uri: node.attributes['url'].value,
                type: node.attributes['n'].value, // screen|print
                surface: node.parentElement.attributes.type.value // front
              })
            }
            let filteredImages = this.filteredImages
            this.onSelectImage(filteredImages ? filteredImages[0] : null)
          },
          setTextFromObjectXML(xml) {
            // xml (TEI) -> this.text (XHTML)
            fetch('../data/tei2html.xslt')
              .then(res => res.text())
              .then(res => new window.DOMParser().parseFromString(res, 'text/xml'))
              .then(res => {
                let processor = new XSLTProcessor()
                processor.importStylesheet(res)
                let doc = processor.transformToFragment(xml, document)
                this.text = new XMLSerializer().serializeToString(doc);
              })
          },
          onChangeAllograph() {
            this.updateDescriptionFromAllograph()
            this.updateSelectedAnnotationFromDescription()
          },
          onChangeComponentFeature() {
            this.updateSelectedAnnotationFromDescription()
          },
          updateSelectedAnnotationFromDescription() {
            let annotation = this.anno.getSelected()
            if (annotation) {
              annotation.body[0].value = JSON.stringify(this.description)
              this.anno.updateSelected(annotation)
              this.saveAnnotationsToSession()
            }
          },
          updateDescriptionFromAllograph() {
            let description = this.description
            if (1 || description.allograph != this.cache.allographLast) {
              if (this.definitions.allographs[description.allograph]) {
                this.description.components = []
                for (let componentKey of this.definitions.allographs[description.allograph].components) {
                  let features = {}
                  for (let featureKey of this.definitions.components[componentKey].features) {
                    features[featureKey] = false
                  }
                  // console.log(features)
                  this.description.components.push([componentKey, features])
                }
                this.cache.allographLast = description.allograph
              }
            }
          },
          // Events - Annotorious
          async onCreateSelection(selection) {
            console.log('EVENT onCreateSelection')

            // selection.motivation = 'describing'
            selection.body = [{
              type: 'TextualBody',
              purpose: 'describing',
              format: 'application/json',
              value: JSON.stringify(this.description)
            }];

            // use this instead of updateSelected & saveSelected()
            // because
            // 1) getAnnotations() wouldn't have teh new body yet
            // 2) user can't draw another box, they have to deselect first
            // This will update the selection, 
            // then save it as an annotation (i.e. type=annotation)
            // then trigger createAnnotation event
            await this.anno.updateSelected(selection, true);
          },
          onCreateAnnotation(annotation, overrideId) {
            console.log('EVENT onCreateAnnotation')
            this.saveAnnotationsToSession()
            this.anno.selectAnnotation(annotation)
          },
          onMouseEnterAnnotation(annotation, element) {
            // console.log('EVENT onMouseEnterAnnotation')
          },
          onMouseLeaveAnnotation(annotation, element) {
            // console.log('EVENT onMouseLeaveAnnotation')
            // console.log(annotation)
          },
          onChangeSelectionTarget() {
            console.log('EVENT onChangeSelectionTarget')
            // wont work... bc the annotation is only modified after unselecting it and that trigger update -> save
            this.saveAnnotationsToSession()
          },
          onUpdateAnnotation() {
            console.log('EVENT onUpdateAnnotation')
            this.saveAnnotationsToSession()
            // this.saveAnnotationsToSession()
          },
          onSelectAnnotation(annotation) {
            console.log('EVENT onSelectAnnotation')
            this.description = JSON.parse(annotation.body[0].value)
            this.annotation = this.anno.getSelected()
            // this.saveAnnotationsToSession()
          },
          onCancelSelected(selection) {
            // at this point this.anno.getSelected() still returns an annotation!
            this.annotation = null
            console.log('EVENT onCancelSelected')
          },
          onDeleteAnnotation() {
            console.log('EVENT onDeleteAnnotation')
            this.saveAnnotationsToSession()
          },
          onClickAnnotation() {
            console.log('EVENT onClickAnnotation')
            // this.saveAnnotationsToSession()
          },
          // Events - Selection
          onSelectObject(obj) {
            this.object = obj
          },
          onSelectImage(img) {
            this.image = img
            if (img) {
              this.viewer.open({
                type: 'image',
                url: "http://localhost:49153/iiif/2/"+this.image.uri+"/full/full/0/default.jpg",
              })
            }
            this.loadAnnotationsFromSession()
          },
          // Events - Other
          onImageOpenFailed() {
            console.log('OPEN FAILED')
          },
          // Persistence backend
          saveAnnotationsToSession() {
            if (this.image?.uri) {
              this.cache.store.imagesAnnotations[this.image.uri] = this.anno.getAnnotations()
              window.localStorage.setItem('imagesAnnotations', JSON.stringify(this.cache.store.imagesAnnotations))
              console.log('save annotations')
            }
          },
          loadAnnotationsFromSession() {
            let imagesAnnotations = window.localStorage.getItem('imagesAnnotations')
            if (imagesAnnotations) {
              this.cache.store.imagesAnnotations = JSON.parse(imagesAnnotations)
              let annotations = this.image?.uri ? this.cache.store.imagesAnnotations[this.image.uri] : null
              if (annotations) {
                this.anno.setAnnotations(annotations)
              } else {
                this.anno.clearAnnotations()
              }
            }
          },
          // Low-level Utilities
          getURIFromXMLPrefix(prefix) {
            const ns = {
              'tei': 'http://www.tei-c.org/ns/1.0',
              'xhtml': 'http://www.w3.org/1999/xhtml',
            };
            return ns[prefix] || null;
          },
        }
      }).mount('#annotator');
    </script>

  </body>
</html>
