<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Palaeographical Definitions</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="./node_modules/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="./node_modules/font-awesome5/css/fontawesome-all.min.css"/>

    <script src="./node_modules/vue/dist/vue.global.js"></script>
    <script src="utils.js"></script>
    <script type="module">
      // TODO: relative import
      // TODO: modularise use of octokit, create a wrapper
      // TODO: don't import it globally.
      import { Octokit, App } from "https://cdn.skypack.dev/octokit@2.0.14";
      window.Octokit = Octokit
    </script>    
    <script src="assets/definitions.js" defer></script>
    <link rel="stylesheet" href="./assets/main.css">
  </head>
  <body>
    <section id="definitions" class="section full-width">
      <div :class="['notification', 'is-'+lastMessage.level, 'is-light']">
        {{ lastMessage.content }}
      </div>
      <div class="tabs is-medium is-boxed">
        <ul>
          <li v-for="tab in tabs" :class="{'is-active': selection.tab == tab.key}">
            <a :href="`${tab.key}.html`+this.getQueryString()">
              <template v-if="!canSave && tab.key == 'settings'"><i class="fas fa-exclamation-triangle"></i>&nbsp;</template>
              {{ tab.title }}
              &nbsp;
              <button v-if="selection.tab == tab.key" @click.prevent.stop="saveDefinitions()" class="button is-primary" :disabled="!canSave || !isUnsaved">Save</button>
            </a>            
          </li>
        </ul>
        <a href="https://github.com/kingsdigitallab/crossreads/issues" target="_blank" class="icon-text">
          <span class="icon"><i class="fas fa-bug"></i></span>
          <span>Issues</span>
        </a>
      </div>
      <div class="container is-fluid">

        <div class="tabs is-boxed">
          <ul>
            <li v-for="tab in innerTabs" :class="{'is-active': selection.innerTab == tab.key}">
              <a @click.prevent.stop="selection.innerTab = tab.key">
                {{ tab.title }}
              </a>
            </li>
          </ul>
        </div>

        <template v-if="selection.innerTab == 'ac'">

          <div class="field is-grouped is-horizontal definitions-controls">
            <p class="control">
              <label class="label">Script</label>
              <div class="select">
                <select v-model="selection.script">
                  <option v-for="(scriptName, scriptSlug) in definitions.scripts" :value="scriptSlug">{{ scriptName }}</option>
                </select>
              </div>
            </p>
            <p class="control">
              <input v-model="selection.scriptName" class="input" type="text">
            </p>
            <p class="control">
              <button @click="onCreateScript()" class="button">Create</button>
            </p>
            <p class="control">
              <button @click="onRenameScript()" class="button">Rename</button>
            </p>
            <p class="control">
              <button @click="onDeleteScript()" class="button">Delete</button>
            </p>
          </div>  

          <div v-if="selection.innerTab == 'ac'" class="scrollable-table-wrapper">
            <table class="table table-def table-ac is-striped is-narrow is-hoverable is-fullwidth-no is-bordered">
              <thead>
                <tr>
                  <th></th>
                  <th>
                    <input v-model="newItems.allograph" type="text" class="input" @keyup.enter="onAddItem('allograph')">
                    <!-- <span v-model="newItems.allograph" class="number-input" role="textbox" contenteditable class="input"></span> -->
                    <button @click="onAddItem('allograph')" class="button is-small">Add</button>
                  </th>
                  <th v-for="(allo, alloSlug) in filteredAllographs">
                    {{ allo.character }}
                    <button @click="onRemoveAllograph(alloSlug)" class="button is-small btn-remove is-warning" title="remove"><i class="fas fa-trash"></i></button>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>
                    <input v-model="newItems.component" type="text" class="input" @keyup.enter="onAddItem('component')">
                    <button @click="onAddItem('component')" class="button is-small">Add</button>
                  </th>
                  <td :colspan="Object.keys(filteredAllographs).length + 1" class="add-cell"></td>
                </tr>
                <tr v-for="(component, componentSlug) in filteredComponents">
                  <th>
                    {{ component.name }}
                    <button @click="onRemoveComponent(componentSlug)" class="button is-small btn-remove is-warning" title="remove"><i class="fas fa-trash"></i></button>
                  </th>
                  <td class="add-cell"></td>
                  <template v-for="allo in filteredAllographs">
                    <td @click.stop.prevent="onClickAllographComponent(allo, componentSlug)">
                      <span v-if="allo.components.includes(componentSlug)" class="checked">✔</span>
                    </td>
                  </template>
                </tr>
              </tbody>
            </table>
          </div>  
        </template>

        <div v-if="selection.innerTab == 'cf'" class="scrollable-table-wrapper">
          <table class="table table-def table-cf is-striped is-narrow is-hoverable is-fullwidth is-bordered">
            <thead>
              <tr>
                <th></th>
                <th>
                  <input v-model="newItems.feature" type="text" class="input" @keyup.enter="onAddItem('feature')">
                  <button @click="onAddItem('feature')" class="button is-small">Add</button>
                </th>
                <th v-for="(feature, featureSlug) in filteredFeatures">
                  <span @keydown.enter="$event.target.blur()" @blur="onRenameFeature($event, featureSlug)" role="textbox" contenteditable class="input-on-hover">{{ feature }}</span>
                  <button @click="onRemoveFeature(featureSlug)" class="button is-small btn-remove is-warning" title="remove"><i class="fas fa-trash"></i></button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>
                  <input v-model="newItems.component" type="text" class="input" @keyup.enter="onAddItem('component')">
                  <button @click="onAddItem('component')" class="button is-small">Add</button>
                </th>
                <td :colspan="Object.keys(filteredFeatures).length + 1" class="add-cell"></td>
              </tr>
              <tr v-for="(component, componentSlug) in filteredComponents">
                <th>
                  <!-- <span class="item-name">{{ component.name }}</span> -->
                  <!-- <input @blur="onRenameComponent($event, component)" :value="component.name" type="text" class="input-rename input"> -->
                  <span @keydown.enter="$event.target.blur()" @blur="onRenameComponent($event, component)" role="textbox" contenteditable class="input-on-hover">{{ component.name }}</span>
                  <button @click="onRemoveComponent(componentSlug)" class="button is-small btn-remove is-warning" title="remove"><i class="fas fa-trash"></i></button>
                </th>
                <td class="add-cell"></td>
                <td v-for="(feature, featureSlug) in filteredFeatures" @click.stop.prevent="onClickComponentFeature(component, featureSlug)">
                  <span v-if="component.features.includes(featureSlug)" class="checked">✔</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <template v-if="false">
          <hr>

          <form class="control">
            <label class="label">Archetype homepage URL</label>
            <div class="control">
              <input class="input" type="text" name="archetype_api" :value="archetypeUri">
            </div>
            <div class="control">
              <button @click.prevent.stop="onImportDefinitions()" class="button" type="submit" name="action" value="export-definitions">Import definitions</button>
            </div>
            <div class="control">
              <button @click.prevent.stop="onShortenCollection()" class="button" type="submit" name="action" value="shorten-collection">Shorten collection</button>
            </div>
          </form>
          <textarea style="width:100%; height: 15em;">
            {{ definitions }}
          </textarea>
        </template>
      </div>
    </section>
  </body>
</html>