<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Palaeographical Definitions</title>
    <link rel="shortcut icon" href="#">

    <link rel="stylesheet" href="./node_modules/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="./node_modules/font-awesome5/css/fontawesome-all.min.css"/>

    <!-- <script src="importmap.js"></script> -->
    <script type="importmap">
      {
        "imports": {
          "vue": "./node_modules/vue/dist/vue.esm-browser.js",
          "octokit": "https://cdn.skypack.dev/octokit@2.0.14"
        }
      }
    </script>

    <script src="assets/definitions.mjs" type="module"></script>
    <link rel="stylesheet" href="./assets/main.css">
  </head>
  <body>
    <section id="definitions" class="section full-width">
      <div :class="['notification', 'is-'+lastMessage.level, 'is-light']">
        {{ lastMessage.content }}
      </div>
      <div class="tabs is-medium is-boxed">
        <ul>
          <li v-for="tab in tabs" :class="{'is-active': selection.tab == tab.key}">
            <a :href="`${tab.key}.html`+this.getQueryString()">
              <template v-if="!isLoggedIn && tab.key == 'settings'"><i class="fas fa-exclamation-triangle"></i>&nbsp;</template>
              {{ tab.title }}
              &nbsp;
              <button v-if="selection.tab == tab.key" @click.prevent.stop="saveAll()" class="button is-primary" :disabled="!canEdit || !isUnsaved">Save</button>
            </a>            
          </li>
        </ul>
        <a href="https://github.com/kingsdigitallab/crossreads/issues" target="_blank" class="icon-text">
          <span class="icon"><i class="fas fa-bug"></i></span>
          <span>Issues</span>
        </a>
      </div>
      <div class="container is-fluid">

        <div class="tabs is-boxed">
          <ul>
            <li v-for="tab in innerTabs" :class="{'is-active': selection.innerTab == tab.key}">
              <a @click.prevent.stop="onClickInnerTab(tab.key)">
                {{ tab.title }}
              </a>
            </li>
          </ul>
        </div>

        <template v-if="selection.innerTab == 'ac'">

          <div class="field is-grouped is-horizontal definitions-controls">
            <p class="control">
              <label class="label">Script</label>
              <div class="select">
                <select v-model="selection.script">
                  <option v-for="(scriptName, scriptSlug) in definitions.scripts" :value="scriptSlug">{{ scriptName }}</option>
                </select>
              </div>
            </p>
            <p class="control">
              <input v-model="selection.scriptName" class="input" type="text" :disabled="!canEdit">
            </p>
            <p class="control">
              <button @click="onCreateScript()" class="button" :disabled="!canEdit">Create</button>
            </p>
            <p class="control">
              <button @click="onRenameScript()" class="button" :disabled="!canEdit">Rename</button>
            </p>
            <p class="control">
              <button @click="onDeleteScript()" class="button" :disabled="!canEdit">Delete</button>
            </p>
          </div>  

          <div v-if="selection.innerTab == 'ac'" class="scrollable-table-wrapper">
            <table class="table table-def table-ac is-striped is-narrow is-hoverable is-fullwidth-no is-bordered">
              <thead>
                <tr>
                  <th></th>
                  <th>
                    <input v-model="newItems.allograph" type="text" class="input" @keyup.enter="onAddItem('allograph')" :disabled="!canEdit">
                    <!-- <span v-model="newItems.allograph" class="number-input" role="textbox" contenteditable class="input"></span> -->
                    <button @click="onAddItem('allograph')" class="button is-small" :disabled="!canEdit">Add</button>
                  </th>
                  <th v-for="(allo, alloSlug) in filteredAllographs" :class="{'unused': getUsageFromElement('SC', `${selection.script}|${allo.character}`) < 1}" :title="(getUsageFromElement('SC', `${selection.script}|${allo.character}`) < 1) ? 'Unused' : ''">
                    {{ allo.character }}
                    <button v-if="canEdit" @click="onRemoveAllograph(alloSlug)" class="button is-small btn-remove is-warning" title="remove"><i class="fas fa-trash"></i></button>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>
                    <input v-model="newItems.component" type="text" class="input" @keyup.enter="onAddItem('component')" :disabled="!canEdit">
                    <button @click="onAddItem('component')" class="button is-small" :disabled="!canEdit">Add</button>
                  </th>
                  <td :colspan="Object.keys(filteredAllographs).length + 1" class="add-cell"></td>
                </tr>
                <tr v-for="(component, componentSlug) in filteredComponents">
                  <th :class="{'unused': getUsageFromElement('c', componentSlug) < 1}" :title="(getUsageFromElement('c', componentSlug) < 1) ? 'Unused' : ''">
                    {{ component.name }}
                    <button v-if="canEdit" @click="onRemoveComponent(componentSlug)" class="button is-small btn-remove is-warning" title="remove"><i class="fas fa-trash"></i></button>
                  </th>
                  <td class="add-cell"></td>
                  <template v-for="allo in filteredAllographs">
                    <td @click.stop.prevent="onClickAllographComponent(allo, componentSlug)">
                      <span v-if="allo.components.includes(componentSlug)" class="checked">✔</span>
                    </td>
                  </template>
                </tr>
              </tbody>
            </table>
          </div>  
        </template>

        <div v-if="selection.innerTab == 'cf'" class="scrollable-table-wrapper">
          <table class="table table-def table-cf is-striped is-narrow is-hoverable is-fullwidth is-bordered">
            <thead>
              <tr>
                <th></th>
                <th>
                  <input v-model="newItems.feature" type="text" class="input" @keyup.enter="onAddItem('feature')" :disabled="!canEdit">
                  <button @click="onAddItem('feature')" class="button is-small" :disabled="!canEdit">Add</button>
                </th>
                <th v-for="(feature, featureSlug) in filteredFeatures" :class="{'unused': getUsageFromElement('f', featureSlug) < 1}" :title="(getUsageFromElement('f', featureSlug) < 1) ? 'Unused' : ''">
                  <span @keydown.enter="$event.target.blur()" @blur="onRenameFeature($event, featureSlug)" role="textbox" :contenteditable="canEdit" :class="{'input-on-hover': canEdit}">{{ feature }}</span>
                  <button v-if="canEdit" @click="onRemoveFeature(featureSlug)" class="button is-small btn-remove is-warning" title="remove"><i class="fas fa-trash"></i></button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>
                  <input v-model="newItems.component" type="text" class="input" @keyup.enter="onAddItem('component')" :disabled="!canEdit">
                  <button @click="onAddItem('component')" class="button is-small" :disabled="!canEdit">Add</button>
                </th>
                <td :colspan="Object.keys(filteredFeatures).length + 1" class="add-cell"></td>
              </tr>
              <tr v-for="(component, componentSlug) in filteredComponents">
                <th :class="{'unused': getUsageFromElement('c', componentSlug) < 1}" :title="(getUsageFromElement('c', componentSlug) < 1) ? 'Unused' : ''">
                  <!-- <span class="item-name">{{ component.name }}</span> -->
                  <!-- <input @blur="onRenameComponent($event, component)" :value="component.name" type="text" class="input-rename input"> -->
                  <span @keydown.enter="$event.target.blur()" @blur="onRenameComponent($event, component)" role="textbox"  :contenteditable="canEdit" :class="{'input-on-hover': canEdit}">{{ component.name }}</span>
                  <button v-if="canEdit" @click="onRemoveComponent(componentSlug)" class="button is-small btn-remove is-warning" title="remove"><i class="fas fa-trash"></i></button>
                </th>
                <td class="add-cell"></td>
                <td v-for="(feature, featureSlug) in filteredFeatures" @click.stop.prevent="onClickComponentFeature(component, featureSlug)">
                  <span v-if="component.features.includes(featureSlug)" class="checked">✔</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div v-if="selection.innerTab == 'vt'" class="scrollable-table-wrapper">
          <div class="field is-grouped is-horizontal definitions-controls">
            <p class="control">
              <label class="label">Script</label>
              <div class="select">
                <select v-model="selection.script">
                  <option v-for="(scriptName, scriptSlug) in definitions.scripts" :value="scriptSlug">{{ scriptName }}</option>
                </select>
              </div>
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a class="tei-snippets" href="data/inscriptions-allograph-types.txt">(TEI snippets)</a>
          </div>
          <table class="table table-def table-ac is-striped is-narrow is-hoverable is-fullwidth-no is-bordered">
            <thead>
              <tr>
                <th>Search</th>
                <th>Type</th>
                <th>Character</th>
                <th>Component</th>
                <th>Feature main</th>
                <th>Feature secondary</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="rule in filteredVariantRules">
                <td>
                  <a class="button is-small" title="search" :href="getSearchLinkFromAlloType(rule)">
                    <i class="fas fa-search"></i>
                  </a>
                </td>
                <td><a :href="getURLFromAlloType(rule)">{{ rule['variant-name'] }}</a></td>
                <td>{{ rule.allograph }}</td>
                <td>{{ rule['component-features'][0]['component'] }}</td>
                <td>{{ rule['component-features'][0]['feature'] }}</td>
                <td>
                  <template v-if="rule['component-features'][1]">
                    <template v-if="rule['component-features'][1]['component'] != rule['component-features'][0]['component']">{{ rule['component-features'][1]['component'] }} = <br></template>
                    {{ rule['component-features'][1]['feature'] }}
                  </template>
                </td>
                <td>
                  <button v-if="canEdit" @click="onRemoveRule(rule)" class="button is-small btn-remove is-warning" title="remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <template v-if="false">
          <hr>

          <form class="control">
            <label class="label">Archetype homepage URL</label>
            <div class="control">
              <input class="input" type="text" name="archetype_api" :value="archetypeUri">
            </div>
            <div class="control">
              <button @click.prevent.stop="onImportDefinitions()" class="button" type="submit" name="action" value="export-definitions">Import definitions</button>
            </div>
            <div class="control">
              <button @click.prevent.stop="onShortenCollection()" class="button" type="submit" name="action" value="shorten-collection">Shorten collection</button>
            </div>
          </form>
          <textarea style="width:100%; height: 15em;">
            {{ definitions }}
          </textarea>
        </template>
      </div>
    </section>
  </body>
</html>