<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lab</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="./node_modules/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="./node_modules/font-awesome5/css/fontawesome-all.min.css"/>

    <!-- <script src="importmap.js"></script> -->
    <script type="importmap">
      {
        "imports": {
          "vue": "./node_modules/vue/dist/vue.esm-browser.js",
          "octokit": "https://cdn.skypack.dev/octokit@2.0.14"
        }
      }
    </script>
    
    <script src="assets/lab.mjs" type="module"></script>
    <link rel="stylesheet" href="./assets/main.css">
    <style>
      :root {
        --histogramWidthPx: 70px;
        --histogramHeightPx: 50px;
        --barColor: #05714B;
      }
      .date-viz {
        width: var(--histogramWidthPx);
        height: var(--histogramHeightPx);
      }
      .date-pair {
        color: var(--barColor);
      }
    </style>
  </head>
  <body>
    <section class="section full-width" id="lab">

      <div :class="{'annotation-preview': 1}" v-if="zoomedCell">
        <h4 class="title is-4">
          <template v-for="(inscriptionSet, setIdx) in zoomedCell.inscriptionSets">
            <template v-if="setIdx &gt; 0">,<br></template>[{{ inscriptionSet.name }}]
          </template>
          <template v-if="zoomedCell.place">
            <br>
            in {{ zoomedCell.place }}
          </template>
        </h4>
        <button v-if="zoomedCell === zoomedCellSticky" class="button" @click="onUnstickZoomedCell()">Close</button>
        <ol>
          <li v-for="(inscription, inscIdx) in zoomedCell.inscriptions">
            <strong>{{ inscIdx + 1 }}. {{ inscription.inscription_number }}</strong>
            ({{ inscription.origin_date_from }}, {{ inscription.origin_date_to }})
          </li>
        </ol>
      </div>

      <div class="container is-fluid">
        <div :class="['notification', 'is-'+lastMessage.level, 'is-light']">
          {{ lastMessage.content }}
        </div>
        <div class="tabs is-medium is-boxed">
          <ul>
            <li v-for="tab in tabs" :class="{'is-active': selection.tab == tab.key}">
              <a :href="`${tab.key}.html`+this.getQueryString()">
                {{ tab.title }}
              </a>
            </li>
          </ul>
          <a href="https://github.com/kingsdigitallab/crossreads/issues" target="_blank" class="icon-text">
            <span class="icon"><i class="fas fa-bug"></i></span>
            <span>Issues</span>
          </a>
        </div>

        <p v-if="filteredInscriptionSets.length < 1">
          You selecion is empty.
          To get started go the search tab and 
          click the + sign in the Lab tab
          to add your search results to this page.
        </p>

        <div v-else class="wide-table-container">
          <table class="table">
            <thead>
              <tr>
                <th>Discard</th>
                <th>Query</th>
                <th>Insc.</th>
                <th>Anywhere</th>
                <th v-for="place in places" v-html="breakLongNames(place)"></td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="inscriptionSet in filteredInscriptionSets">
                <td>
                  <button v-if="inscriptionSet.id != 'intersection'" class="button is-small" @click="onClickRemoveInscriptionSet(inscriptionSet)"><i class="fas fa-trash"></i></button>
                </td>
                <td>
                  <a v-if="inscriptionSet.searchQueryString" :href="`search.html${inscriptionSet.searchQueryString}`">{{ inscriptionSet.name }}</a>
                  <template v-else>{{ inscriptionSet.name }}</template>
                </td>
                <td>
                  {{ inscriptionSet.inscriptions.length }}
                </td>
                <td class="date-range" v-for="place in filteredPlaces" @mouseenter="onMouseEnterCell(inscriptionSet, place)" @mouseleave="onMouseLeaveCell(inscriptionSet, place)" @click="onStickZoomedCell()">
                  <div class="date-viz" v-html="getSvgFromInscriptionSetAndPlace(inscriptionSet, place)">
                  </div>
                  <span class="date-pair">
                    {{ getPlaceTimeRangeStr(inscriptionSet, place) }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </body>
</html>
