<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="./node_modules/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="./node_modules/font-awesome5/css/fontawesome-all.min.css"/>

    <!-- <script src="importmap.js"></script> -->
    <script type="importmap">
      {
        "imports": {
          "vue": "./node_modules/vue/dist/vue.esm-browser.js",
          "octokit": "https://cdn.skypack.dev/octokit@2.0.14"
        }
      }
    </script>
    
    <script src="./node_modules/itemsjs/dist/itemsjs.min.js"></script>

    <script src="assets/search.mjs" type="module"></script>
    <link rel="stylesheet" href="./assets/main.css">
  </head>
  <body>
    <section class="section full-width" id="search">
      
      <div :class="{'annotation-preview': 1, 'pull-right': showModalOnTheRight}" v-if="hoveredItem">
        <img :src="getThumbUrlFromItem(hoveredItem, 150)" alt="Placeholder image" class="graph-thumb">
        <h4 class="title is-4">
          {{ hoveredItem.chr }} ({{ hoveredItem.scr }})
        </h4>
        <p v-if="hoveredItem?.tag" class="tags">
          Tags: <span v-for="tag in (hoveredItem?.tag || []).sort()">{{ tag }}</span>
        </p>
        <ul>
          <li v-for="cxf in (hoveredItem?.cxf || []).sort()">{{ cxf }}</li>
        </ul>
      </div>
      
      <div class="container is-fluid">
        <div :class="['notification', 'is-'+lastMessage.level, 'is-light']">
          {{ lastMessage.content }}
        </div>
        <div class="tabs is-medium is-boxed">
          <ul>
            <li v-for="tab in tabs" :class="{'is-active': selection.tab == tab.key}">
              <a :href="`${tab.key}.html`+this.getQueryString()">
                {{ tab.title }}
              </a>
            </li>
          </ul>
          <a href="https://github.com/kingsdigitallab/crossreads/issues" target="_blank" class="icon-text">
            <span class="icon"><i class="fas fa-bug"></i></span>
            <span>Issues</span>
          </a>
        </div>

        <div class="columns search">
          <div class="column is-3 filters">
            <h2 class="title is-3">Filters 
              <a href="#" @click.stop.prevent="resetSearch()" class="side-links button is-medium">Clear</a>
            </h2>
            <div class="panel">
              <p class="panel-heading">
                Keywords (tag, inscription ID)
              </p>
              <div class="panel-block search-phrase">
                <input type="search" v-model="selection.searchPhrase" class="input">
              </div>

              <template v-for="(facet, facetKey) in facets">
                <p class="panel-heading">
                  <a class="panel-expand" @click.stop.prevent="onClickFacetExpand(facetKey)" :title="isFacetExpanded(facetKey) ? 'Collapse' : 'Expand'">
                    <template v-if="isFacetExpanded(facetKey)"><i class="fas fa-angle-down"></i></template>
                    <template v-else><i class="fas fa-angle-right"></i></template>
                    {{ facet.title }} 
                    <span v-if="getSelectedOptionsCount(facetKey)">({{getSelectedOptionsCount(facetKey)}})</span>
                  </a>
                </p>
                <div class="panel-block facet-orders" v-if="isFacetExpanded(facetKey)">
                  <p>
                    <a @click.stop.prevent="onClickFacetColumn(facetKey, 'key')">
                      <template v-if="isFacetSortedBy(facetKey, 'key', 'desc')"><i class="fas fa-arrow-up"></i></template>
                      <template v-if="isFacetSortedBy(facetKey, 'key', 'asc')"><i class="fas fa-arrow-down"></i></template>
                      Name
                    </a>
                    <a class="option-count" @click.stop.prevent="onClickFacetColumn(facetKey, 'count')">
                      <template v-if="isFacetSortedBy(facetKey, 'count', 'desc')"><i class="fas fa-arrow-down"></template>
                      <template v-if="isFacetSortedBy(facetKey, 'count', 'asc')"><i class="fas fa-arrow-up"></template>
                      Count
                    </a>
                  </p>          
                </div>
                <div class="panel-block facet-options" v-if="isFacetExpanded(facetKey)">
                  <ul>
                    <li v-for="option in getOptionsFromFacet(facet)" @click="onClickFacetOption(facetKey, option.key)" :class="{'is-selected': option.selected}">
                      <div v-if="facetKey == 'tag'" @mouseenter="onMouseEnterTag(option.key, true)" @mouseleave="onMouseLeaveTag(option.key)">
                        <span class="option-label">{{ option.key }}</span>
                        <span class="option-count">{{ option.doc_count }}</span>
                      </div>
                      <div v-else>
                        <span class="option-label">{{ option.key }}</span>
                        <span class="option-count">{{ option.doc_count }}</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </template>

              <p class="panel-heading">
                <a class="panel-expand" @click.stop.prevent="onClickFacetExpand('dat')" :title="isFacetExpanded('dat') ? 'Collapse' : 'Expand'">
                  <template v-if="isFacetExpanded('dat')"><i class="fas fa-angle-down"></i></template>
                  <template v-else><i class="fas fa-angle-right"></i></template>
                  Date Range
                  <span v-if="getSelectedOptionsCount('dat')">({{getSelectedOptionsCount('dat')}})</span>
                </a>                
              </p>
              <div class="panel-block search-phrase" v-if="isFacetExpanded('dat')">
                <label>After:
                  <input type="number" v-model="selection.dateFrom" class="input">
                </label>
                <label>Before:
                  <input type="number" v-model="selection.dateTo" class="input">
                </label>
              </div>

              <p class="panel-heading">
                New <a href="../definitions.html?itb=vt">variant type</a>
              </p>
              <div class="panel-block type">
                <div>
                  <div class="field has-addons">
                    <div class="control">
                      <input :class="{input: 1, 'is-danger': typeFormatError}" type="text" v-model="selection.newTypeName" @keyup.enter="onAddVariantType()">
                    </div>
                    <div class="control">
                      <button class="button" @click="onAddVariantType()" :disabled="!canEdit || Boolean(typeFormatError) || !(selection.newTypeName || '').trim()">Add</button>
                    </div>
                  </div>
                  <p class="tag-error" v-if="typeFormatError">{{typeFormatError}}</p>
                </div>
              </div>
            </div>
          </div>
          
          <div class="column is-6 results">
            <h2 class="title is-3">Annotations ({{ pagination.total }})</h2>
            <div class="results-controls">

              <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                <a @click.stop.prevent="onClickPagination(-1)" class="pagination-previous">Prev</a>
                <a @click.stop.prevent="onClickPagination(1)" class="pagination-next">Next</a>
                <p class="pagination-list">
                  Page {{ selection.page }} / {{ this.pageMax }}
                </p>
                <p class="select navigation-page-size">
                  <select v-model="selection.perPage">
                    <option v-for="size in options.perPage" :value="size">{{ size }} per page</option>
                  </select>
                </p>
              </nav>
            </div>
            <div class="items">
              <span v-for="item in items" :class="{card: 1, item: 1, selected: this.selection.items.has(item)}" @click="onClickItem(item)">

                <div class="card-content">

                  <div class="media">
                    <div class="media-left">
                      <figure class="image">
                        <a :href="getAnnotatorLinkFromItem(item)">
                          <img :data-src="getThumbUrlFromItem(item)" :src="placeholderThumb(item)" alt="Placeholder image" class="graph-thumb thumb-loading" @mouseenter="onMouseEnterItem(item)" @mouseleave="onMouseLeaveItem(item)">
                        </a>
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-4">{{ item.chr }}</p>
                      <p class="subtitle is-6">{{ item.scr }}</p>
                    </div>
                  </div>                
                  
                  <div class="content">
                    {{ getDocIdFromItem(item) }}
                  </div>

                </div>         

              </span>
            </div>
            <div class="results-controls">
              <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                <a @click.stop.prevent="onClickPagination(-1)" class="pagination-previous">Prev</a>
                <a @click.stop.prevent="onClickPagination(1)" class="pagination-next">Next</a>
                <p class="pagination-list">
                  Page {{ selection.page }} / {{ this.pageMax }}
                </p>
              </nav>
            </div>
            <p class="index-date" v-if="indexDate">
              Indexed on
              {{ indexDate.toLocaleDateString() }} {{ indexDate.toLocaleTimeString() }}
            </p>
          </div>

          <div class="column is-3 selection">
            <h2 class="title is-3">Bulk edit ({{ selection.items.size }})
              <button @click.prevent.stop="saveChangeQueue()" class="button is-primary" :disabled="!canEdit || !isUnsaved">Save</button>
            </h2>
            <h3 class="title is-4">Tags {{ tagSelection }}:</h3>
            <ul class="tags-selector">
              <li v-for="state, tag in descriptions.tags">
                <label @click.stop.prevent="onClickTag(tag)" :class="`state-${state}`" @mouseenter="onMouseEnterTag(tag)" @mouseleave="onMouseLeaveTag(tag)">
                  <input type="checkbox" :checked="state === true" :disabled="state === null">
                  {{ tag }}
                </label>
                <img :src="getThumbUrlFromTag(tag, 40)" alt="annotation thumbnail" class="graph-thumb" v-if="getThumbUrlFromTag(tag, 40)">
              </li>
            </ul>
            <div class="field has-addons">
              <div class="control">
                <input :class="{input: 1, 'is-danger': tagFormatError}" type="text" v-model="selection.newTagName" @keyup.enter="onAddTag()">
              </div>
              <div class="control">
                <button class="button" @click="onAddTag()" :disabled="!canEdit || Boolean(tagFormatError) || !(selection.newTagName || '').trim()">Add</button>
              </div>
            </div>
            <div class="tag-error" v-if="tagFormatError">{{tagFormatError}}</div>
            <p>
              <br>
              <a href="https://github.com/kingsdigitallab/crossreads/blob/main/annotations/change-queue.json" target="_blank">{{ changeQueue?.changes?.length || 'no' }} change(s)</a> pending.
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
