<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="./node_modules/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="./node_modules/font-awesome5/css/fontawesome-all.min.css"/>

    <!-- importmap shim for Firefox -->
    <script src="./node_modules/vue/dist/vue.global.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.15/dist/vuetify.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.15/dist/vuetify.min.css">
    
    <script type="module">
      const { createVuetify } = Vuetify
      window.vuetify = createVuetify()
    </script>

    <script src="utils.js"></script>
    <script type="module">
      // TODO: UPGRADE
      // TODO: relative import
      // TODO: modularise use of octokit, create a wrapper
      // TODO: don't import it globally.
      // import { Octokit } from "https://esm.sh/@octokit/core";
      // import { Octokit } from "https://cdn.skypack.dev/@octokit/rest";
      // import { Octokit, App } from "https://esm.sh/octokit";
      import { Octokit, App } from "https://cdn.skypack.dev/octokit@2.0.14";
      // import { Octokit } from "./node_modules/@octokit/core/dist-web/index.js";
      window.Octokit = Octokit
    </script>    

    <script src="./node_modules/itemsjs/dist/itemsjs.min.js"></script>

    <script src="assets/search.js" defer></script>

    <link rel="stylesheet" href="./assets/main.css">

  </head>
  <body>
    <section class="section full-width" id="search">
      <div class="container is-fluid">
        <div :class="['notification', 'is-'+lastMessage.level, 'is-light']">
          {{ lastMessage.content }}
        </div>
        <div class="tabs is-medium is-boxed">
          <ul>
            <li v-for="tab in tabs" :class="{'is-active': selection.tab == tab.key}">
              <a :href="`${tab.key}.html${queryString}`">
                <template v-if="!isLoggedIn && tab.key == 'settings'"><i class="fas fa-exclamation-triangle"></i>&nbsp;</template>
                {{ tab.title }}
              </a>
            </li>
          </ul>
          <a href="https://github.com/kingsdigitallab/crossreads/issues" target="_blank" class="icon-text">
            <span class="icon"><i class="fas fa-bug"></i></span>
            <span>Issues</span>
          </a>
        </div>

        <div class="columns search">
          <div class="column is-3 filters">
            <h2 class="title is-3">Filters</h2>
            <div class="panel">
              <p class="panel-heading">
                Filter
              </p>
              <p class="panel-block">

              </p>
            </div>
          </div>
          <div class="column is-9 results">
            <h2 class="title is-3">Annotations ({{ pagination.total }})</h2>
            <div class="items">
              <span v-for="item in items" class="card item">

                <div class="card-content">

                  <div class="media">
                    <div class="media-left">
                      <figure class="image">
                        <a :href="getAnnotatorLinkFromItem(item)">
                          <img :src="getThumbUrlFromItem(item)" alt="Placeholder image">
                        </a>
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-4">{{ item.chr }}</p>
                      <p class="subtitle is-6">{{ item.scr }}</p>
                    </div>
                  </div>                
                  
                  <div class="content">
                    {{ getDocIdFromItem(item) }}
                  </div>

                </div>         

              </span>
            </div>
          </div>
        </div>

      </div>
    </section>
  </body>
</html>
