<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Settings</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="./node_modules/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="./node_modules/font-awesome5/css/fontawesome-all.min.css"/>

    <script type="module">
      // import { Octokit } from "https://cdn.skypack.dev/octokit@2.0.14";
      const pkg = await import("https://cdn.skypack.dev/octokit@2.0.14");
      console.log(pkg)
      const { Octokit } = pkg;
      window.Octokit = Octokit;
    </script>    
    <script src="utils.js"></script>
    <!-- <script type="module">
      import { utils2 } from "./utils.js";
      window.utils = utils
    </script> -->
    <script src="./node_modules/vue/dist/vue.global.js"></script>
    <link rel="stylesheet" href="./assets/main.css">
  </head>
  <body>
    <section class="section" id="settings">
      <div id="definitions" class="container">
        <div class="tabs is-large is-boxed">
          <ul>
            <li v-for="tab in tabs" :class="{'is-active': selection.tab == tab.key}">
              <a :href="`${tab.key}.html`+this.getQueryString()">
                <template v-if="!canSave && tab.key == 'settings'"><i class="fas fa-exclamation-triangle"></i>&nbsp;</template>
                {{ tab.title }}
              </a>
            </li>
          </ul>
        </div>
        <form :class="{notification: 1, 'is-warning': isTokenMissing}">
          <div class="field">
            <label class="label" for="gtoken">Personal access token:</label>
            <div class="field has-addons">
              <div class="control">
                <input id="gtoken" type="password" v-model="selection.gtoken" class="input">
              </div>
              <div class="control">
                <button @click="testToken()" type="button" class="button is-info">Test</button>
              </div>
            </div>
            <h2 class="title is-4">Instructions</h2>
            <p>
              To annotate please paste your Github Personal Access Token (PAT).
              <br>
              To create a PAT, log into Github and click "Generate New Token" <a href="https://github.com/settings/tokens" target="_blank">on the PAT screen</a>.
              <br>
              Give it a name (e.g. Annotator), tick only 'public_repo' under the 'repo' section, save and copy the token in a secret place.
            </p>
          </div>
        </form>
      </div>
    </section>
    <script>
      const { createApp } = Vue

      createApp({
        data() {
          return {
            selection: {
              tab: 'settings',
              gtoken: window.localStorage.getItem('gtoken') || '',
            },
            authState: {
              ok: null,
              label: '',
              description: ''
            }
          }
        },
        async mounted() {
          await this.testToken()
        },
        computed: {
          tabs: () => utils.tabs(),
          canSave() {
            return !!this.selection.gtoken
          },
          isTokenMissing: () => false,
        },
        watch: {
          "selection.gtoken": (v, vOld) => {
            window.localStorage.setItem('gtoken', v)
          }
        },
        methods: {
          getQueryString() {
            return utils.getQueryString()
          },
          async testToken() {
            let token = this.selection.gtoken
            let afs = new utils.AnyFileSystem()
            this.authState = await afs.authenticateToGithub(token)
            return false
          }
        }
      }).mount('#settings')
    </script>
  </body>
</html>