<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Settings</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="./node_modules/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="./node_modules/font-awesome5/css/fontawesome-all.min.css"/>
    <link rel="stylesheet" href="./assets/main.css">

    <script type="importmap">
      {
        "imports": {
          "vue": "./node_modules/vue/dist/vue.esm-browser.js",
          "octokit": "https://cdn.skypack.dev/octokit@2.0.14"
        }
      }
    </script>

    <!-- <script src="./node_modules/vue/dist/vue.global.js"></script> -->
    <script type="module" src="assets/settings.mjs"></script>
  </head>
  <body>
    <section class="section full-width" id="settings">
      <div class="container is-fluid">
        <div :class="['notification', 'is-light']">
        </div>
        <div class="tabs is-medium is-boxed">
          <ul>
            <li v-for="tab in tabs" :class="{'is-active': selection.tab == tab.key}">
              <a :href="`${tab.key}.html`+this.getQueryString()">
                <template v-if="!afs.authStatus.ok && tab.key == 'settings'"><i class="fas fa-exclamation-triangle"></i>&nbsp;</template>
                {{ tab.title }}
              </a>
            </li>
          </ul>
        </div>

        <nav class="panel">
          <p class="panel-heading">Editing mode 
            <template v-if="afs.authStatus.ok">(ON)</template>
            <template v-else>(OFF)</template>
          </p>
          <div class="panel-block">
            <p v-if="IS_READ_ONLY_AND_LOCAL">
              The site is read-only. All data files are read from this site and not from github repository. (GITHUB_REPO_PATH is null)
            </p>
            <form v-else :class="{notification: 1, 'is-warning': !afs.authStatus.ok}">
              <div class="field">
                <label class="label" for="gtoken">Personal access token:</label>
                <div class="field has-addons">
                  <div class="control">
                    <input id="gtoken" type="password" v-model="selection.gtoken" class="input" autocomplete="new-password">
                  </div>
                  <div class="control">
                    <button @click="testToken()" type="submit" class="button is-info">Apply</button>
                  </div>
                </div>
                <p>
                  <template v-if="!afs.authStatus.ok"><i class="fas fa-exclamation-triangle"></i>&nbsp;ERROR:</template>
                  {{ afs.authStatus.description }}
                  <template v-if="afs.authStatus.ok"><br>User: <a target="_blank" :href="afs.user.url">{{ afs.user.url}}</a></template>
                </p>
                <br>
                <details>
                  <summary>Help with the token</summary>
                  <p>
                    To annotate or edit the definitions please paste your Github Personal Access Token (PAT).
                    <br>
                    To create a PAT, log into Github and click "Generate New Token" <a href="https://github.com/settings/tokens" target="_blank">on the PAT screen</a>.
                    <br>
                    Give it a name (e.g. Annotator), tick only 'public_repo' under the 'repo' section, save and copy the token in a secret place.
                  </p>
                </details>
              </div>
            </form>
          </div>
        </nav>
        <nav class="panel">
          <p class="panel-heading">Linkage</p>
          <div class="panel-block">
            <div class="content">
              <ul>
                <li v-for="link of links">
                  {{ link.name }}
                  <a :href="link.url">{{ link.url }}</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </section>
  </body>
</html>