<footer>
  <p>
    <a href="https://kingsdigitallab.github.io/crossreads/">Palaeographical environment</a>
    |
    <a href="https://crossreads.web.ox.ac.uk/">CROSSREADS</a>, funded by European Research Council (ERC), Grant agreement No. 885040
  </p>
</footer>
