<footer>
  <p>
    <a href="{{ links.annotatingSiteRoot }}">Palaeographical environment</a>
    |
    <a href="{{ links.crossreadsPortalRoot }}">CROSSREADS</a>, funded by European Research Council (ERC), Grant agreement No. 885040
  </p>
</footer>
