<footer>
  <p><a href="all.html">Allograph typology</a></p>
  <p><a href="https://kingsdigitallab.github.io/crossreads/">Crossreads Annotator</a></p>
  <p><a href="https://crossreads.web.ox.ac.uk/">CROSSREADS</a>, funded by European Research Council (ERC), Grant agreement No. 885040</p>
</footer>
