:root {
  --selected-color: orange;
  --hover-color: yellow;
  --bound-color: blue;
  --broken-color: red;
}

.responsive-height {
  overflow: scroll;
  align-items: inherit;
}

.list-selectable {
  max-height: 15em;
  overflow-y: auto;
  width: 100%;
}
.list-selectable li {
  padding: 0.5em
}
.list-selectable li:hover {
  background-color: var(--hover-color);
}
label.selectable {
  width: 100%;
  display: inline-block;
}
.selectable:hover {
  background-color: var(--hover-color);
}
.selected {
  background-color: var(--selected-color);
  font-weight: bold;
}
.results .card.item {
  border: 3px solid white;
}
.results .card.item.selected {
  background-color: inherit;
  border-color: var(--selected-color);
}
.results .card.item:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}
.component-name {
  font-weight: bold;
}
.components-features li {
  margin-left: 0.5em
}
.description {
  max-width: 100%;
}
.description dt {
  margin-top: 1em;
  margin-bottom: 0.5em;
  padding: 0.2em;
  border-top: 1px solid #bbb;
  background-color: #eee;
  font-weight: bold;        
}
.description .tag:hover {
  text-decoration: line-through;
}
.tag-error {
  color: darkred;
  font-weight: bold;
  font-style: italic;
}

/* Annotations */

.bound .a9s-outer {
  stroke: var(--bound-color);
}
.broken .a9s-outer {
  stroke: var(--broken-color);
}
.a9s-annotation.selected .a9s-inner {
  fill: var(--selected-color);
  fill-opacity: 0.3;
}
.a9s-annotation:hover .a9s-inner {
  fill: var(--hover-color);
  fill-opacity: 0.3;
}
.a9s-annotation .a9s-outer {
  stroke-width: 5px;
}

.hide-boxes .a9s-annotation:not(.selected) {
  opacity: 0;
  fill-opacity: 0;
}


/* ------------------ */

.side-links {
  float: right;
  font-size: 0.7em;
}

.section.full-width {
  padding: 0;
}

.smaller {
  font-size: 0.7em;
}

/* Definitions screen */

.table-def td {
  cursor: pointer;
}

.table-def td:hover {
  background-color: var(--hover-color);
}

/* td .checked {

} */

.table-def .add-cell, .table-def .add-cell:hover {
  background-color: #eee;
  cursor: inherit;
}

.definitions-controls .input {
  margin-left: 0.5em;
  width: 15em;
}

.scrollable-table-wrapper {
  overflow: scroll;
  height: 50vh;
}

.scrollable-table-wrapper thead th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  background-color: rgba(255,255,255,0.9);
  top: 0;
}

.scrollable-table-wrapper tbody th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  background-color: rgba(255,255,255,0.9);
  left: 0;
}

.scrollable-table-wrapper th.unused {
  background: repeating-linear-gradient(
    -55deg,
    #eee,
    #eee 10px,
    #ccc 10px,
    #ccc 20px
  );
}

th .input {
  width: 4em;
}

th .btn-remove {
  visibility: hidden;
  float: right;
}
th:hover .btn-remove {
  visibility: visible;  
}
tbody tr th {
  white-space: nowrap;
}


th {
  line-height: 1.85em; /* so remove icon on hover doesn't expand row */
}

th:hover .item-name {
  display: none;
}

th .input-rename {
  display: none;
}

th:hover .input-rename {
  display: inline;
}

.input-on-hover {
  display: inline-block;
  padding: 2px;
  border: 1px solid transparent;
}

.input-on-hover:hover, .input-on-hover:focus {
  border: 1px solid lightgrey;
}

/* Transcription: 

Note that TEI is converted into HTML using data/tei2html.xslt.
It converts each element into span or div.
The attributes are prefixed with data-tei-.
The name of the element is inserted into the class attribute: 
<w id="123"> => <span class="tei-w" data-tei="w" data-tei-id="123">

*/

.transcription {
  font-size: 150%;
}
.transcription .sign {
  display: inline-block;
  width: 1.5em;
  border: 0.15em solid #ddd;
  padding: 0.3em;
  line-height: 1.5em;
}
.transcription .sign:hover {
  background-color: var(--hover-color);
}
.transcription .sign.bound {
  border-color: var(--bound-color);
  cursor: pointer;
}
.transcription .sign.selected {
  background-color: var(--selected-color);
}
.transcription .sign.selected:hover {
  cursor: url("./unlink-svgrepo-com.svg"), auto;
}

.transcription-body {
  line-height: 3em;
}

.is-word {
  margin-right: 1em;
}

.line-number {
  margin-right: 1em;

  border-radius: 50%;
  width: 1em;
  height: 1em;
  padding: 0.5em;

  border: 2px solid white;
  background-color: #666;
  font-weight: 800;
  color: white;
  text-align: center;
}

.textpart-number:before {
  content: 'Part ';
}
/* 613 */
div[data-tei-subtype='fragment-physical'] .textpart-number:before {
  content: 'Fragment ';
}
/* 1485 */
div[data-tei-subtype='section'] .textpart-number:before {
  content: 'Section ';
}
.textpart-number, .column-number {
  font-size: 1.5em;
  border-top: 1px solid gray;
  width: 90%;
}
/* 613 */
.column-number:before {
  content: 'Column ';
}
.column-number {
  font-size: 1.3em;
  border-top-style: dashed;
  display: inline-block;
}

.tei-ab > br:first-child {
  display: none;
}

.tei-del, .tei-del .sign {
  text-decoration: line-through;
}

.tei-supplied .sign {
  color: grey;
  border: 0.10em solid #eee;
}

/* Conditional display of supplied text in the transcription, see gh-11 

<p class="show-supplied"> [HTML TRANSCRIPTION] </p>

.show-supplied can be toggled on or off.

*/

.show-supplied .tei-ex,
.show-supplied .tei-choice .tei-reg,  .tei-choice .tei-orig,
.show-supplied .tei-choice .tei-corr, .tei-choice .tei-sic, /* need test cases */
.show-supplied .tei-supplied[data-tei-reason="lost"],
.show-supplied .tei-supplied[data-tei-reason="omitted"] {
  display: inherit;
}

.tei-ex,
.tei-choice .tei-reg,  .show-supplied .tei-choice .tei-orig,
.tei-choice .tei-corr, .show-supplied .tei-choice .tei-sic, /* need test cases */
.tei-supplied[data-tei-reason="lost"], 
.tei-supplied[data-tei-reason="omitted"] {
  display: none;
}

/* --- */

.panel-image {
  position: relative;
}

.image-viewer-overlay {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 1em;
}

.image-loaded-1 {
  display: none;
}

#available-objects {
  option {
    color: red;
  }
}

/* ---- */

.mdi {
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  display:inline-block;
  font-style:normal;
  font-variant:normal;
  text-rendering:auto;
  line-height:1;

  font-family:Font Awesome\ 5 Free;
  font-weight:900;
}

.fa-times-circle2:before, 
.mdi-close-circle:before {
  content:"\f057"
}

.fa-caret-down2:before, 
.mdi-menu-down:before {
  content:"\f0d7"
}

.panel-objects .columns {
  width: 100%;
}

.v-input__details {
  display: none;
}

/* SEARCH PAGE  */

.results .items {
  display: flex;
  flex-wrap: wrap;
}
.results .item {
  margin: 1em;
}

.facet-orders {
  p {
    width: 100%
  }
}

.panel-expand {
  /* float: right; */
  display: inline-block;
  width: 90%;
}

.facet-options ul {
  width: 100%;
}
.option-count {
  float: right;
}
.facet-options li:hover {
  background-color: yellow;
}
.is-selected {
  background-color: orange;
}
.facet-options li {
  cursor: pointer;
}

.results .pagination {
  width: 24em;
}

.navigation-page-size {
  display: flex;
  order: 4;
}

.thumb-loading {
  opacity: 0.1;
  width: 50;
  height: 50;
}

/* .graph-thumb {
  border: 1px solid pink;
} */

.state-null {
  font-style: italic;
  color: grey;
  font-weight: normal;
}
.state-true {
  font-weight: bold;
}
.state-false {
  font-weight: bold;
  text-decoration: line-through;
}

.annotation-preview {
  position: fixed;
  z-index: 100;
  background-color: white;
  border: 1px solid grey;
  padding: 0.5em;
  margin: 0.5em;
  box-shadow: 4px 4px 10px;
}
.annotation-preview.pull-right {
  right: 0;  
}
.annotation-preview {
  li {
    font-size: 0.8em;
  }
}
.annotation-preview .tags span:not(:first-child):before {
  content: ', ';
}
.annotation-preview .tags span {
  margin-left: 0.1em;
}

.selection .tags-selector img {
  margin-left: 0.5em;
}
.selection .tags-selector {
  max-height: 39%;
  overflow: auto;
}
.selection .tags-selector label {
  display: block;
}
.selection .tags-selector label:hover {
  background-color: var(--hover-color);
}
.selection {
  position: sticky;
  display: inline-block;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  max-height: 90vh;
}
.index-date {
  color: grey; 
  font-style: italic;
  margin: 0.5em;
  margin-top: 1.5em;
}

#search .panel-heading {
  font-size: 1.2em;
  line-height: 1em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.facet-options ul {
  overflow-y: auto;
  max-height: 30em;
}