:root {
  --selected-color: orange;
  --hover-color: yellow;
  --bound-color: blue;
}
.list-selectable {
  max-height: 15em;
  overflow-y: auto;
  width: 100%;
}
.list-selectable li {
  padding: 0.5em
}
.list-selectable li:hover {
  background-color: var(--hover-color);
}
label.selectable {
  width: 100%;
  display: inline-block;
}
.selectable:hover {
  background-color: var(--hover-color);
}
.selected {
  background-color: var(--selected-color);
  font-weight: bold;
}
.component-name {
  font-weight: bold;
}
.components-features li {
  margin-left: 0.5em
}
.description {
  max-width: 100%;
}
.description dt {
  margin-top: 1em;
  border-top: 1px solid grey;
  background-color: #eee;
  font-weight: bold;        
}
.transcription {
  font-size: 150%;
}
.transcription .sign {
  display: inline-block;
  width: 1.5em;
  border: 2px solid #ddd;
  padding: 0.5em;       
}
.transcription .sign:hover {
  background-color: var(--hover-color);
}
.transcription .sign.bound {
  border-color: var(--bound-color);
}
.transcription .sign.selected {
  background-color: var(--selected-color);
}
.transcription .sign.selected:hover {
  cursor: url("./unlink-svgrepo-com.svg"), auto;
}
.bound .a9s-outer {
  stroke: var(--bound-color);
}
.a9s-annotation.selected .a9s-inner {
  fill: var(--selected-color);
  fill-opacity: 0.3;
}
.a9s-annotation:hover .a9s-inner {
  fill: var(--hover-color);
  fill-opacity: 0.3;
}
.a9s-annotation .a9s-outer {
  stroke-width: 5px;
}
.side-links {
  float: right;
  font-size: 0.7em;
}

/* Definitions screen */

.table-def td {
  cursor: pointer;
}

.table-def td:hover {
  background-color: var(--hover-color);
}

td .checked {

}

.table-def .add-cell, .table-def .add-cell:hover {
  background-color: #eee;
  cursor: inherit;
}

.definitions-controls .input {
  margin-left: 0.5em;
  width: 15em;
}

.scrollable-table-wrapper {
  overflow: scroll;
  max-height: 50vh;
}

.scrollable-table-wrapper thead th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  background-color: rgba(255,255,255,0.9);
  top: 0;
}

.scrollable-table-wrapper tbody th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  background-color: rgba(255,255,255,0.9);
  left: 0;
}

th .input {
  width: 4em;
}

.btn-remove {
  visibility: hidden;  
}
th:hover .btn-remove {
  visibility: visible;  
}
tbody tr th {
  white-space: nowrap;
}


th {
  line-height: 1.85em; /* so remove icon on hover doesn't expand row */
}

th:hover .item-name {
  display: none;
}

th .input-rename {
  display: none;
}

th:hover .input-rename {
  display: inline;
}

.input-on-hover {
  display: inline-block;
  padding: 2px;
  border: 1px solid transparent;
}

.input-on-hover:hover, .input-on-hover:focus {
  border: 1px solid lightgrey;
}
